.divdetalhes {
    margin-top: 100px;
    padding: 2em;
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

.infoenvio {
    font-size: 0.8em;
}

.divsalario {
    display: flex;
    padding: 0.5em;
}

.divbeneficios {
    padding: 2em;
}

.titulocabeca {
    font-size: 2em;
}

.detalhado {
    padding: 1em;
}

.requisitos {
    padding: 2em;
}

.botaovaga {
    width: 15em;
    height: 5em;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
