.containerlayout {
    width: 100%;
}

nav.navbar {
    background-color: $azul;
}

.navegar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $azul-escuro;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}

.searchbar {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 2%;
    padding: 0 2em;
    & p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2em;
    }
}

.central {
    margin: 0 auto;
}

.botaosearch {
    padding: 0 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid $azul;
    background-color: $azul;
    & i {
        color: $amarelo;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.searchform {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.searchinput {
    padding: 0.5em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid $azul-escuro;
    border-right: none;
    flex-grow: 1;
}

.logolayout {
    font-size: 1.5em;
    font-family: "Candara", sans-serif;
    & strong {
        color: $laranja;
    }
}

.menus {
    display: flex;
    p {
        font-family: "Roboto", sans-serif;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.clientefooter {
    width: 100%;
    background-color: $azul;
    padding: 1em;
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    & ul {
        list-style: none;
    }
}

.linksfooter {
    display: flex;
    justify-content: space-around;
}

.linksuteis {
    & p {
        color: $laranja;
        margin-bottom: 10px;
    }

    & a {
        color: white;
        margin-left: 10px;
    }
}

.parceiros {
    & li {
        margin-left: 10px;
    }
    & p {
        color: $laranja;
        margin-bottom: 10px;
    }

    & ul {
        & p {
            color: white;
        }
    }
}

@media screen and (max-width: 520px) {
    .searchbar {
        width: 90%;
        padding: 0.5em 0;
        & p {
            font-size: 1em;
        }
    }
}
