.containercadastro label {
  padding: 0.2em;
  font-size: 1.2em;
}
.containercadastro textarea {
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0.5em;
  color: black;
}
.containercadastro input {
  padding: 0.2em;
  border-radius: 2px;
}
.containercadastro select {
  width: 20vw;
  color: black;
}

.divinputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: #5f5f5f;
}

.mostraranuncio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remoto {
  display: flex;
  align-items: center;
}

.heroi {
  position: relative;
  align-items: center;
  height: 60vh;
  overflow: hidden;
  background-color: black;
}

.imagemheroi {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.searchbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 2%;
  padding: 0 2em;
}
.searchbar p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color: white;
}

.botaosearch {
  padding: 0 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #0b4683;
  background-color: #0b4683;
}
.botaosearch i {
  color: #f2d678;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.searchform {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.searchinput {
  padding: 0.5em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #222b56;
  border-right: none;
  flex-grow: 1;
}

.containercartao {
  display: flex;
  justify-content: center;
}

.cartao {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(11, 70, 131, 0.3);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.cartao:hover {
  background-color: rgba(11, 70, 131, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: black;
}

.empresacidade {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 0.9em;
  margin-left: 0.5em;
  align-content: flex-end;
}

.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: 0px 0px 1px #0b4683;
}

.subtitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fontezinha {
  font-size: 1em;
  margin-left: 1.5em;
  text-align: right;
}

.paginacao a {
  border: 1px solid #222b56;
  color: black;
}
.paginacao a:hover {
  background-color: #0b4683;
  color: white;
}
.paginacao li.page-item.active span.page-link {
  background-color: #0b4683;
}

.newsletter {
  width: 100%;
  padding-bottom: 2em;
  text-align: center;
}
.newsletter p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em;
  font-size: 1.2em;
}

.newsform {
  align-items: center;
}
.newsform p {
  font-size: 1em;
}

.newsinput {
  padding: 0.5em;
  margin-left: 1em;
  width: 50%;
}

#privacidade {
  margin-top: 2em;
  font-size: 0.8em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 520px) {
  li.page-item {
    display: none;
  }

  .page-item:first-child,
.page-item:last-child,
.page-item.active {
    display: block;
  }
}
.contatoform {
  padding: 1em;
}
.contatoform button {
  margin-top: 5px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #222b56;
}
.contatoform button:hover {
  background-color: #0b4683;
  color: white;
}

.formcontato .form-control {
  color: #222b56 !important;
  background-color: transparent !important;
  border: 1px solid #222b56;
  padding: 3px 10px;
}
.formcontato .form-control::placeholder {
  color: rgba(0, 0, 0, 0.795) !important;
}
.formcontato label {
  font-weight: 600;
  color: #222b56 !important;
}
.formcontato button {
  width: 100%;
}
.formcontato button:hover {
  border: 1px solid #222b56;
}

.divdetalhes {
  margin-top: 100px;
  padding: 2em;
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.infoenvio {
  font-size: 0.8em;
}

.divsalario {
  display: flex;
  padding: 0.5em;
}

.divbeneficios {
  padding: 2em;
}

.titulocabeca {
  font-size: 2em;
}

.detalhado {
  padding: 1em;
}

.requisitos {
  padding: 2em;
}

.botaovaga {
  width: 15em;
  height: 5em;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.containerlayout {
  width: 100%;
}

nav.navbar {
  transition: ease-in-out 200ms background-color;
  background-color: transparent;
}

.navegar {
  background-color: #0b4683 !important;
}

.central {
  margin: 0 auto;
}

.logolayout {
  font-size: 1.5em;
  font-family: "Candara", sans-serif;
}
.logolayout strong {
  color: #d69510;
}

.logofooter {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.menus {
  display: flex;
}
.menus p {
  font-family: "Roboto", sans-serif;
}
.menus a {
  color: black;
  text-decoration: none;
}

.clientefooter {
  width: 100%;
  background-color: #0b4683;
  padding: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.clientefooter ul {
  list-style: none;
}

.linksfooter {
  display: flex;
  justify-content: space-around;
}

.linksuteis p {
  color: #d69510;
  margin-bottom: 10px;
}
.linksuteis a {
  color: white;
  margin-left: 10px;
}

.parceiros li {
  margin-left: 10px;
}
.parceiros p {
  color: #d69510;
  margin-bottom: 10px;
}
.parceiros ul p {
  color: white;
}

.botao {
  margin-top: 5px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #222b56;
}
.botao:hover {
  background-color: #0b4683;
  color: white;
}

@media screen and (max-width: 520px) {
  .searchbar {
    width: 90%;
    padding: 0.5em 0;
  }
  .searchbar p {
    font-size: 1em;
  }
}
.tabelacadastro .fundoheader {
  background-color: rgba(34, 43, 86, 0.2);
}
.tabelacadastro .fundotabela {
  background-color: rgba(11, 70, 131, 0.2);
}
.tabelacadastro th,
.tabelacadastro td {
  padding: 1em;
}
.tabelacadastro i {
  text-align: center;
  color: #d69510;
}

.titulotabela {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

#botaotabela {
  text-align: center;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body .container .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

button {
  transition: 0.1s ease-in-out !important;
  transition-property: background-color, color, border-color !important;
}

#modalcontato .modal-content .modaltitulo {
  font-size: 2em;
  text-align: center;
  color: #222b56;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.separador {
  width: 100%;
  height: 2px;
  background-color: #0b4683;
  border: none;
  margin: 2em 0;
}

/*# sourceMappingURL=system.css.map */
