.containercadastro label {
  padding: 0.2em;
  font-size: 1.2em;
}
.containercadastro textarea {
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0.5em;
  color: black;
}
.containercadastro input {
  padding: 0.2em;
  border-radius: 2px;
}
.containercadastro select {
  width: 20vw;
  color: black;
}

.divinputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: #5f5f5f;
}

.mostraranuncio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remoto {
  display: flex;
  align-items: center;
}

.containercartao {
  display: flex;
  justify-content: center;
}

.cartao {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(11, 70, 131, 0.3);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.cartao:hover {
  background-color: rgba(11, 70, 131, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.empresacidade {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 0.9em;
  margin-left: 0.5em;
  align-content: flex-end;
}

.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  text-shadow: 0px 0px 1px #0b4683;
}

.subtitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fontezinha {
  font-size: 1em;
  margin-left: 1.5em;
  text-align: right;
}

.paginacao a {
  border: 1px solid #222b56;
  color: black;
}
.paginacao a:hover {
  background-color: #0b4683;
  color: white;
}
.paginacao li.page-item.active span.page-link {
  background-color: #0b4683;
}

.newsletter {
  border-top: 1px solid #0b4683;
  width: 100%;
  margin-top: 3em;
  padding: 0.3em;
  text-align: center;
}
.newsletter p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em;
  font-size: 1.2em;
}
.newsletter button {
  margin-top: 5px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #222b56;
}
.newsletter button:hover {
  background-color: #0b4683;
  color: white;
}

.newsform {
  align-items: center;
}
.newsform p {
  font-size: 1em;
}

.newsinput {
  padding: 0.5em;
  margin-left: 1em;
  width: 50%;
}

#privacidade {
  margin-top: 2em;
  font-size: 0.8em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 520px) {
  li.page-item {
    display: none;
  }

  .page-item:first-child,
.page-item:last-child,
.page-item.active {
    display: block;
  }
}
.contatoform {
  padding: 1em;
}
.contatoform button {
  margin-top: 5px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #222b56;
}
.contatoform button:hover {
  background-color: #0b4683;
  color: white;
}

.empresacontainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 70%;
}
.empresacontainer label {
  padding: 0.2em;
  font-size: 1em;
}
.empresacontainer input {
  padding: 0.2em;
  border-radius: 2px;
}
.empresacontainer textarea {
  border: 1px solid black;
  padding: 0.5em;
}

.formcontato {
  background-color: rgba(11, 70, 131, 0.5);
}
.formcontato button {
  margin-top: 5px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #222b56;
}
.formcontato button:hover {
  background-color: #0b4683;
  color: white;
}

.fontecontato {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  text-align: center;
  color: #1f1e1e;
}

.divdetalhes {
  padding: 2em;
  background-color: #fff;
  color: black;
}

.infoenvio {
  font-size: 0.8em;
}

.divsalario {
  display: flex;
  padding: 0.5em;
}

.divbeneficios {
  padding: 2em;
}

.titulocabeca {
  font-size: 2em;
}

.detalhado {
  padding: 1em;
}

.requisitos {
  padding: 2em;
}

.botaovaga {
  width: 15em;
  height: 5em;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.containerlayout {
  width: 100%;
}

nav.navbar {
  background-color: #0b4683;
}

.navegar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #222b56;
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}

.searchbar {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 2%;
  padding: 0 2em;
}
.searchbar p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  color: #222b56;
}

.central {
  margin: 0 auto;
}

.botaosearch {
  padding: 0 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #0b4683;
  background-color: #0b4683;
}
.botaosearch i {
  color: #f2d678;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.searchform {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.searchinput {
  padding: 0.5em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #222b56;
  border-right: none;
  flex-grow: 1;
}

.logolayout {
  font-size: 1.5em;
  font-family: "Candara", sans-serif;
}
.logolayout strong {
  color: #d69510;
}

.menus {
  display: flex;
}
.menus p {
  font-family: "Roboto", sans-serif;
}
.menus a {
  color: black;
  text-decoration: none;
}

.clientefooter {
  width: 100%;
  background-color: #0b4683;
  padding: 1em;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.clientefooter ul {
  list-style: none;
}

.linksfooter {
  display: flex;
  justify-content: space-around;
}

.linksuteis p {
  color: #d69510;
  margin-bottom: 10px;
}
.linksuteis a {
  color: white;
  margin-left: 10px;
}

.parceiros li {
  margin-left: 10px;
}
.parceiros p {
  color: #d69510;
  margin-bottom: 10px;
}
.parceiros ul p {
  color: white;
}

@media screen and (max-width: 520px) {
  .searchbar {
    width: 90%;
    padding: 0.5em 0;
  }
  .searchbar p {
    font-size: 1em;
  }
}
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body .container .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

button {
  transition: 0.1s ease-in-out !important;
  transition-property: background-color, color, border-color !important;
}

.header {
  display: flex;
}

.sideMenu {
  display: flex;
  width: 256px;
  height: 10000px;
  background: #222B56;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  flex-direction: column;
}

.botoes {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 24px;
  margin-top: 40px;
}
.botoes > img {
  width: 20px;
  height: 20px;
}
.botoes > i {
  color: white;
  font-size: 16px;
}

.topo {
  display: flex;
  background: #0B4683;
  width: 100%;
  height: 60px;
}

.userContent {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.texto {
  margin-left: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.01em;
  /* Gray 6 */
  color: #F2F2F2;
}

.administracao {
  display: flex;
  height: 26px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 17px;
}

.nome {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
}

.email {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.nomeEmail {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.foto {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  margin-left: 24px;
}

.linha {
  background-color: #EBEFF2;
  width: 100%;
  height: 0.5px;
}

.linha2 {
  background-color: #EBEFF2;
  width: 100%;
  height: 0.5px;
  margin-top: 24px;
}

/*# sourceMappingURL=system.css.map */
